* {
    box-sizing: border-box;
}

body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

element {
    outline:none;
}

input {
    text-decoration: none;
}

input:focus {
    outline: none ! important;
}

.full_screen_pdf_viewer {
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    padding: 80px;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 1s ease-out;
}

.full_screen_pdf_viewer object  {
    background-color: #ffffff;
    flex: 1;
    height: 100%;
}

.full_screen_pdf_viewer object iframe {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
    
    
    
    
    
    *{
        padding: 0;
        margin: 0%;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        
    }

    .Background {
        width: 100vw;
        height: 100vh;
        background-image: url(../IMAGES/BG-Banner-Principal-01-Y-02.png);
        margin-bottom: 100px;
    }

    .Background2 {
        width: 100vw;
        height: 100vh;
        background-image: url(https://wallpapercave.com/wp/wp2744845.jpg);
        margin-bottom: 100px;
    }

    nav {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav2 {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #545d7a;
        opacity: 50%;


    }

    .logo {
        width: auto;
        height: 80px;
        padding-left: 64px;

    }

    .nav-menu {
        display: flex;
        justify-content: center;
        padding-right: 64px;

    }

    .nav-menu li a {
        font-size: 24px;
        color: white;
        padding: 32px;
    }

    .logos {
        display: flex;
        justify-content: center;
        margin-top:100px;
    }

    .logos img {
        width: auto;
        height: 150px;
    }

    .logo1 {
        margin-right: 32px;
    }

    .logo2 {
        margin-left: 32px;
    }

    .Container-search {
        display: flex;
        justify-content: center;
        border: 1px;
        border-color: white;
        margin-top: 100px;
        
    }

    input {
        border-color: white;
        border-radius: 0px 40px 40px 0px;
        height: 40px;
        margin-left: 0px;
        text-align: center;
        width: 100%;
    }

    input, select, textarea {
        max-width: 500px;
        font-size: 20px;
        border-color: none;
        
    }

    .Icon {
        align-items: center;
        background-color: red;
        border-radius: 40px 0px 0px 40px;
        color: white;
        display: flex;
        justify-content: center;
        padding: 8px;
    }

    .Encabezado {
        justify-content: start  ;
        
    }

    .table {
        font-size: 14px;
        padding: 16px;
        border: 1px;
        border-color: black;
        text-align: start;
       
    }

    tr {
        padding: 50px;

    }

    .titulo {
        font-size: 16px;
        padding-left: 24px;
    }

    .tipos {
        display: flex;
        align-items: center;
    }

    .imagen {
        width: 350px;
        height: auto;
        padding: 16px;
    }

    section {
        display: flex;
       justify-content: center;
    }

    h2 {
        text-align: center;
        color: white;
        padding: 40px;
    }

    .seccion1 {
        background-color: black;
        padding: 80px;
    }

    .lorem {
        text-align: center;
        font-size: 14px;
        color: white;
        padding-left: 100px;
        padding-right: 100px;
    }

    .seccion2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 200px;
        padding-right: 200px;
    }

    .botones {
        display: flex;
        margin-top: 100px;
        justify-content: start;
    }

    .subseccion {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    button {
        margin: 32px;
        padding-right: 64px;
        padding-left: 64px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: orange;
        border-radius: 8px;
    }

    .Texto {
        padding: 16px;
        text-align: start;
        color: black;
    }

    h1 {
        text-align: start;
        padding-left: 16px;
    }

    .titulo-video {
        color: white;
        padding: 32px;
    }

    .video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        padding: 80px;
        background-image: url(../IMAGES/5356171.jpg);
        width: 100%;    
    }

    .diputados {
        width: 1000px;
        height: 600px;
    }

    .Logomono{
        display: flex;
        justify-content: end;
        margin-top: 80px;
        padding-right: 80px;
    }

    .footer {
        padding-top: 80px;
        padding-bottom: 80px;
        display: flex;
        justify-content: space-around;
        background-color: black;
        
    }

    .footer div {
        display: flex;
        align-items: flex-start;
        padding: 64px;
      
        
    }

    .footer div div {
        display: flex;
       justify-content: space-around;
       flex-direction: column;
       text-align: end;
       
       padding-left: 40px;
        padding-right: 40px;
    }


    .footer h4 {
        color:gray;
        text-align: start;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    h3 {
        color: white;
    }

    .next {
        text-decoration: underline;
        font-size: 32px;
        text-align: start;
    }

    @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}
.container {
  display: flex;
  /* width: 1040px; */
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: 32px;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 10px;
    overflow: hidden;
    width: 280px;
}

.card * {
    pointer-events: none;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 200px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 32px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 16%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

.titulo {
    margin-top: 100px;
    margin-bottom: 16px;
    margin-left: 42px
}
.titulo a {
    background-color: orange;
    padding: 8px;
    border-radius: 8px;
    margin-top: 8px;
    margin-left: 8px;
}


.Overlay {
    background-color:aliceblue;
    padding: 100px;
    opacity: 95%;
}
.Overlay div p {
    text-align: start;
    padding-top: 16px;
    padding-left: 16px;
}

.Overlay div h2 {
   color: #545d7a;
}

.Overlay div  {
    padding-left: 100px;
    padding-right: 100px;
}































    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 8px; 
        text-align: start;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        a {: ;
        color: #337ab7;
        text-decoration: none;
        }: ;
        text
    }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;

        a {
            color: #337ab7;
            text-decoration: none;
        } 
    }
          

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            padding: 8px;
            line-height: 1.42857;
            vertical-align: top;
            border-top: 1px solid rgb(221, 221, 221);
    } 


